* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
}

.container {
  height: 100vh;
  width: 100%;
  background-color: lightblue;
}

header .header-top{
  height: 80px;
  background-color: white;
  color: #29b1dd;
}
