* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
}

.container {
  height: 100vh;
  width: 100%;
  background-color: lightblue;
}

/* Header */
header .header-top{
  height: 80px;
  font-family: 'Acme', sans-serif;
  background-color: white;
  color: #29b1dd;
  font-size: 270%;
  padding: 30px;
}

header .header-bottom{
  height: 80px;
  background-color: #29b1dd;
  text-align: center;
  color: white;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;

}

header .header-bottom label {
  padding: 10px;
}

/* Main */
main {

}

main .icons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

main .icons .box-icon {
  flex-basis: calc(100% / 6);
  background-color: white;
  padding: 25px;
  margin: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow:  2px 2px rgba(0, 0, 0, 0.65);
}

main .icons .box-icon i {
  font-size: 240%;
}
